/* size 58 x 41 cm */
/* screen 32 x 16 px */
.js_username{
  top:0;
  right:5;
  position:absolute;
  z-index:1;
  text-decoration:none;
  color:black;
}
#testMessage{
    bottom: -10px;
    right: 5px;
    position: absolute;
    z-index: 1;
}
body{
  width: 232px;
  height:164px;
}
#digivice{
  position:absolute;
  margin:0;
  padding:0;
  background:#ccc;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:0;
}
#screen{
  position:absolute;
  width:150px;
  height:150px;
  top:15px;
  left:15px;
  background:#eee;
}
.menu{
  position:absolute;
  width:150px;
  height:25px;
  display:flex;
}
.menu.top{
  /*background:#ddd;*/
}
.inscreen{
  position:absolute;
  width:150px;
  height:100px;
  top:25px;
  background:#ddd;
}
.menu.bottom{
  top:125px;
  /*background:#ddd;*/
}
.menu div{
  margin:auto;
  float:left;
  /*border:1px solid black;*/
  background:#fff;
  width:25px;
  height:25px;
  text-align:center;
}
.menu .selected{
  background:#eee;
}
.button{
  position:absolute;
  width:20px;
  height:20px;
  background:#333;
}
#buttonA{
  right:30px;
  top:30px;
}
#buttonB{
  right:30px;
  top:80px;
}
#buttonC{
  right:30px;
  top:130px;
}
